---
import Layout from "../layouts/Layout.astro";
import Parametros from "../components/Parametros.astro";
import Grafica from "../components/Grafica.astro";
---

<Layout>
  <main class="flex flex-col w-full gap-8">
    <h1 class="text-center text-4xl font-bold">
      Hello <span>Inversores</span>
    </h1>
    <div class="flex w-full flex-col items-center gap-4">
      <div class="flex w-2/3 flex-col gap-4 items-center">
        <Parametros />
      </div>
    </div>
  </main>
</Layout>
